.container {
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  height: auto;
  overflow: hidden;
}
* {
  font-family: 'IBM Plex Sans', Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.3s;
  outline: none;
  overflow-x: hidden;
}
.hotel{
  height: 40vh;
  display: flex;
  .image{
    width: 40%;
    overflow: hidden;
    margin: 0px 10px;
  }
  .details{
    width: 20%;
    display: grid;
    align-content: center;
  }
  .reviews{
    width: 40%;
    overflow-y: auto;
    box-shadow: inset 0px 0px 10px #1717171e;
    margin: 0px 5px;
    padding: 5px;
    h2{
      padding: 10px 0px;
    }
    .bubble{
      width: 90%;
      border-bottom: solid 2px gray;
      color: #080C26;
      padding: 10px;
      margin: 10px 0px;
      border-radius: 10px 10px 10px 0px;
      margin: auto;
    }
  }
}
.hamburgerMenu{
  z-index: 10;
  box-shadow: 0px 0px 10px #1717177a;
  position: fixed;
  right: 10px;
  top: 0px;
  background: #223756;
  color: #F2F2F2;
  padding: 10px;
  // border-radius: 0px 0px 50px 50px;
  h1{
    display: none;
    margin: 0;
    padding: 0;
    font-size: 3vw;
  }
  ul{
    display: flex;
    li{
      padding: 5px 10px;
      margin: 1px;
      cursor: pointer;
    }
  }
}
.hamburgerMenu ul li:hover{
      background: white;
      color:#223756 ;
}
@media only screen and (max-width: 600px) {
  .hamburgerMenu{
    h1{
      display: block;
    }

    position: fixed;
    background: #223756;
    color: #F2F2F2;
    top: 0px;
    text-align: center;
    right: 10px;
    width: auto;
    height: 5vw;
    padding: 10px;
    overflow: hidden;
    transition: 0.5s;
    border-bottom: solid 1px #D9D9D9;
    h1{
      letter-spacing: 2px;
    }
    i{
      font-size: 200%;
    }
    ul {
      opacity: 0;
      flex-direction: column;
    }
  }
  .hamburgerMenu:hover{
    h1{
      display: block;
    }
    position: fixed;
    background: #223756;
    color: #F2F2F2;
    top: 10px;
    right: 10px;
    width: auto;
    height: auto;
    padding: 10px;
    overflow: hidden;
    transition: 0.5s;
    border-bottom: solid 1px #D9D9D9;
    h1{
      letter-spacing: 2px;
    }
    i{
      font-size: 200%;
    }
    ul {
      opacity: 1;
      flex-direction: column;
      li:hover{
        background: #F2F2F2;
      }
    }
  }
}
.logo {
  display: grid;
  align-items: center;
  width: 70px;
  padding: 0px 10px;
  height: 70px;
  position: fixed;
  float: left;
  // overflow: visible;
  z-index: 6;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  padding: 5vw 0px;
  text-align: center;
}
.revCount{
  text-align: center;
}
.button{
  width: 100%;
  padding: 50px 0px 0px 0px;
}
.button button{
  background: orange;
  color: white;
  border: none;
  border-radius: 200px;
  width: 200px;
  padding: 10px;
  cursor: pointer;
}
.rooms{
  box-shadow: inset 0px 0px 10px #1717171f;
  display: flex;
  width: 100vw;
  height: 90vh;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 30px 0px;
  padding: 10px 20px;
  .card{
    width: 500px;
    height: auto;
    overflow: visible;
    margin: 5px auto;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    h4{
      padding: 10px;
      text-align: center;
      letter-spacing: 10px;
      text-transform: uppercase;
      font-weight: normal;
    }
    .head{
      padding: 5px;
      text-align: center;
      background: rgba(255, 255, 255, 0.753);
      color: black;
    }
    .image{
      width: 100%;
      height: 40%;
      overflow: hidden;
      position: relative;
      .services{
        width: 50%;
        margin:0px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .button{
        color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        opacity: 0;
        text-align: center;
        hr{
          width: 70%;
          background: rgba(255, 255, 255, 0.445);
          margin: 5px auto;
          opacity: 0.3;
        }
        h4{
          letter-spacing: 1px;
        }
      }
      button{
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        width: 100px;
        color: white;
        border: none;
        background: #223756ee;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .image:hover {
        width: 100%;
        height: 40%;
        overflow: hidden;
        position: relative;
        .button{
          position: absolute;
          top: 0;
          background: rgba(0, 0, 0, 0.877);
          bottom: 0;
          opacity: 1;
        }
    }
    .descr{
      width: 100%;
      padding: 10px;
      p{
        font-size: 90%;
      }
    }
    .review{
      height: 550px;
      background: white;
      top: 0;
    }
    .rel{
      position: relative;
      h4{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
      .user{
        overflow-y: auto;
        width: 90%;
        // margin: 0px 0px 10px 0px;
        // padding: 5px;
        border-top: solid 2px white;
        font-size: 90%;
        .cat{
          padding: 10px 0px;
          border-bottom: solid 2px gray;
          // margin: 20px 0px;
          border-radius: 10px 10px 10px 0px;
          .header{
            .details{
              padding: 0px 10px;
              margin: 0px 10px;
            }
          }
          .user-reviews{
            width: 90%;
            margin: 10px auto;
          }
        }
      }
    }
    .input{
      z-index: 50;
      width: 100%;
      input{
        width:70%;
        height: 100%;
        padding: 10px;
        border: none;
        margin:10px 2px;
        box-shadow: 0px 0px 7px #0000004b;
        border-radius: 100px;
      }
      button{
        width: 20%;
        height: 100%;
        padding: 10px;
        background: green;
        color: white;
        border: none;
        box-shadow: 0px 0px 7px #0000004b;
        border-radius: 100px;
      }
    }
  }
}
.userform{
  position: fixed;
  bottom: 10px;
    right: 10px;
  bottom: 10px;
  right: 10px;
  z-index: 51;
  width: 90px;
  height: 90px;
  display: grid;
  align-items: center;
  text-align: center;
  transition: 0.3s;
  padding: 10px;
  border-radius: 200px;
  text-align: center;
  background: white;
  overflow: hidden;
  box-shadow: 0px 0px 10px #18181852;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 200px;
  }
  input{
    width: 90%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0px;
  }
  select{
    width: 90%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0px;
  }
  textarea{
    width: 90%;
    height: 90px;
    border: none;
    border-radius: 5px;
    padding: 5px;
  }
  button{
    width: 90%;
    padding: 5px;
    border: none;
    background: #223756;
    color: white;
    border-radius: 5px;
  }
  .controls {
    display: none;
  }
}
.userform:hover{
  border-radius: 10px;
  width: auto;
  height: auto;
  background: #FFA515;
}
.userform:hover .controls{
  display: block;
}
