<div class="container">
    <div class="logo">
        <img src="../../../assets/assets/logo/logo-01.png">
      </div>
      <div class="hamburgerMenu">
        <h1>Menu</h1>
        <ul>
            <li>
                {{loggedin.name}} {{loggedin.surname}}
              </li>
          <li (click)="logout()">Logout</li>
        </ul>
      </div>
      <div class="name">
        <h1>{{hotel.hotelName}} CMS System</h1>
        <div class="revCount">
            <br>
            <h2>Reviews count: {{noofReviews}}</h2>
          </div>
      </div>
      <hr style="margin: 10px 0px; opacity: 0.2;">
        <div class="hotel">

          <div class="image">
              <img src="{{hotel.images}}" alt="">
            </div>
            <div class="details">
              <div>
                  <p><b>Description</b></p>
                  <hr>
                  <p>{{hotel.description}}</p>
                  <br>
                  <p><b>Location</b></p>
                  <hr>
                  <p>{{hotel.location}}</p>
                  <br>
                  <p><b>Contacts</b></p>
                  <hr>
                  <p>{{hotel.contacts}}</p>
                  <br>
                  <p><b>Services</b></p>
                  <hr>
                  <div *ngFor="let item of hotel.services">
                    <p>{{item}}</p>
                  </div>
              </div>
            </div>
            <div class="reviews">
                <div  *ngFor="let n of userreviews">
                  <div class="bubble" *ngIf="n.room==hotel.hotelName">
                      <h3>{{n.person}}</h3>
                      <h4>{{n.date}}</h4>
                        <p>{{n.message}}</p>
                  </div>
                </div>
            </div>
        </div>

      <div class="rooms">
        <div [ngClass]="card" class="card" *ngFor="let n of reviews">
          <div class="head">
            <h3>{{n.roomtype}}</h3>
          </div>
          <div class="image">

            <img src="{{n.roomimage}}" alt="">
            <div class="button">
              <p> {{n.roomdescription}} </p>
              <p> Occupies {{n.occupancy}} person(s) </p>
              <hr>
              <h4>Features</h4>
              <hr>
              <div class="services"><div  *ngFor="let s of n.features">
                <p>{{s}}</p>
              </div></div>
              <hr>
              <div>
                R {{n.roomrate}} pp/pn
              </div>
              <br>
              <div>
                <p style="color: greenyellow">This room has {{n.booked}} booking(s)</p>
              </div>

            </div>
          </div>
          <h4>Reviews</h4>
          <div class="review">
            <div class="rel">

                <div class="user" *ngFor="let r of userreviews">
                    <div *ngIf="r.room==n.roomtype">
                        <div class="cat">
                            <div class="header">
                              <div class="details">
                                <h3>{{r.person}}</h3>
                                <p><i> {{r.date}} </i></p>
                              </div>
                            </div>
                            <div class="user-reviews">
                              <p>{{r.message}}</p>
                            </div>
                          </div>
                    </div>
                  </div>

            </div>
          </div>
        </div>

      </div>


  </div>
  <div class="">

  </div>
  <div class="userform">
    <img src="https://s3-us-west-2.amazonaws.com/plugin-icons.craftcms/commentscvQGFyYIVV53CsHK33dTFFHFFgXnYd9dm0OF.svg?1535165130">
      <div class="controls">
          <select [(ngModel)]="review.room">
              <option disabled selected> - Pick Room to Review -</option>
              <option>Deluxe Double Room</option>
              <option>Standard Double Room</option>
              <option>Standard Twin Room</option>
              <option>Sunny Hill Hotel</option>
            </select>
            <input type="text" placeholder="Full Name" [(ngModel)]="review.person">
    <textarea placeholder="Review here" [(ngModel)]="review.message"></textarea>
    <button (click)="addResponse()">Send</button>
      </div>
</div>

