<div class="container">
  <div class="navigation">
      <img src="../../../assets/assets/logo/logo-01-white.png">
    <ul>
      <li [routerLink]="['']" routerLinkActive="router-link-active" >Home</li>
      <li [routerLink]="['/reservation-section']" routerLinkActive="router-link-active" >Reserve Now</li>
    </ul>
  </div>
  <div class="food">
    <h1>Food and Beverage</h1>
    <p>Experience our relaxing hotel, pool, bedrooms and facilities!</p>
    <div class="pictures">
      <div class="card">
        <img src="../../../assets/assets/food and beverage/2018.04.04-FEDERAL-HOTEL-FOOD-BEVERAGE-VENUE-21-of-47.jpg">
      </div>
      <div class="card">
        <img src="../../../assets/assets/food and beverage/Eftalia-Marin-Resort-Yeme-Icme-146305.jpg">
      </div>
      <div class="card">
        <img src="../../../assets/assets/food and beverage/Embassy-Row-Hotel-Drink-2.jpg">
      </div>
    </div>
    <div class="text">
      <p>Lorem ipsum dolor sit amet, usu ex modo tacimates repudiandae, mei ne platonem consulatu. Ad pro malis inani copiosae. Vis in ornatus legimus, at propriae suscipit eos, ei ignota tamquam vim. No erat vituperata eum. Ad epicuri suavitate vim, ei etiam dolorum oportere per, vis quodsi viderer cu. An quem tempor sea, ei vel omnes doming offendit. Ne summo accommodare sea.
        </p>
        <p>Vix cu alia iudico corpora, autem vulputate pri et, eu per graeci suscipit vivendum. Expetendis percipitur reprehendunt no sed, sale reque reformidans ea has, nostrud voluptua erroribus ad quo. Cum et eirmod impetus. Cum ut repudiare argumentum, esse propriae his ei. Pro congue possit ea, ea mandamus disputationi mediocritatem nam. Vix purto epicurei disputationi id.
          </p>
          <p>Pro graece fabellas recteque cu, no mel bonorum salutatus, his ne facete percipitur. Mei discere alterum erroribus eu. Eam saepe tollit audiam et, diam equidem lobortis vis no. Ne eam error laoreet eleifend, no fugit omittam pro. At hinc exerci dicunt mea, vim te odio quodsi volumus.</p>
    </div>
  </div>
  <div class="lifestyle">
    <h1>Life Style</h1>
    <p>Experience our relaxing hotel, pool, bed rooms and facilties!</p>
    <div class="pictures">
        <div class="card">
          <img src="../../../assets/assets/lifestyle/11336058_v5.webp">
        </div>
        <div class="card">
          <img src="../../../assets/assets/lifestyle/bloved-lifestyle-blog-marrakech-trip-paula-hello-sugar-photography-23-feature.jpg">
        </div>
        <div class="card">
          <img src="../../../assets/assets/lifestyle/oasis-8.jpg">
        </div>
      </div>
      <div class="text">
          <p>Lorem ipsum dolor sit amet, usu ex modo tacimates repudiandae, mei ne platonem consulatu. Ad pro malis inani copiosae. Vis in ornatus legimus, at propriae suscipit eos, ei ignota tamquam vim. No erat vituperata eum. Ad epicuri suavitate vim, ei etiam dolorum oportere per, vis quodsi viderer cu. An quem tempor sea, ei vel omnes doming offendit. Ne summo accommodare sea.
            </p>
            <p>Vix cu alia iudico corpora, autem vulputate pri et, eu per graeci suscipit vivendum. Expetendis percipitur reprehendunt no sed, sale reque reformidans ea has, nostrud voluptua erroribus ad quo. Cum et eirmod impetus. Cum ut repudiare argumentum, esse propriae his ei. Pro congue possit ea, ea mandamus disputationi mediocritatem nam. Vix purto epicurei disputationi id.
              </p>
              <p>Pro graece fabellas recteque cu, no mel bonorum salutatus, his ne facete percipitur. Mei discere alterum erroribus eu. Eam saepe tollit audiam et, diam equidem lobortis vis no. Ne eam error laoreet eleifend, no fugit omittam pro. At hinc exerci dicunt mea, vim te odio quodsi volumus.</p>
        </div>
  </div>
  <div class="offers">
    <h1>Offers</h1>
    <p>Experience our relaxing hotel, pool, bed rooms and facilties!</p>
    <img src="../../../assets/assets/offers/Group 54@2x.png" alt="">
  </div>
  <div class="footer">
    <p>Site Developed with VS Code by Matsuma Keketso</p>
  </div>
</div>
