<div class="reservation">
  <div class="image">
      <img src="{{doc.image}}" alt="">
      <img *ngIf="!doc.image" src="../../../assets/assets/worker placeholders/team-f.png" alt="">
  </div>
    <div *ngIf="doc.name"  class="details">
        <div>
            <h1 >{{doc.name}} </h1>
            <h1 >{{doc.surname}} </h1>
            <h1 >{{doc.email}} </h1>
            <h1 >{{doc.number}} </h1>
        </div>
        <!-- <div class="button">
            <button>Edit</button>
        </div> -->
    </div>
    <div *ngIf="!doc.name" class="create">
        <div>
          <h1>Create Account</h1>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Surname">
            <input type="email" placeholder="Email">
            <input type="tel" placeholder="Number">
        </div>
        <div class="button">
            <button>Done</button>
        </div>
    </div>
  </div>
  <button (click)="onClick()">Back</button>
