<div class="reservation">
    <form #messageForm="ngForm" (ngSubmit)="sendMessage(messageForm.value)">
    <div class="title"><h3>Message Us</h3></div>
    <div class="personal info">
      <p id="message">If you have any concern or enquiry, kindly message us.</p>
      <p><input type="email" ngModel name="email" placeholder="Email Address"></p>
      <p><textarea placeholder="Message" name="messageA" style="font-family: 'Segoe UI'; width: 300px; padding: 5px; background: none; border: solid 1px gray; border-radius: 5px;" rows="10"></textarea></p>
      <button>Send message</button>
    </div>
  </form>
  </div>
