<div class="reservation">

  <div class="title">
    <h3>Reserved Room</h3> <input type="text" placeholder="Search Person">
  </div>
  <div class="cards" *ngFor="let n of reservationList">
    <div class="card">
      <div class="title">
        <h1>{{n.name}} {{n.lastname}}</h1>
      </div>
      <div class="image">
        <img src="{{n.room}}" alt="image card">
      </div>
      <div class="details">
        <h2>{{n.category}} Suite</h2>
        <p>{{n.checkin | date}}</p>
        <p>{{n.days}} day stay with {{n.people}} person(s)</p>
        <p id="payed">Payment {{n.payment}} ({{n.cost | currency:'&#82;'}})</p>
        <p>Booking expiary: {{n.expiary | date}}</p>
      </div>
      <div class="contact">
        <table>
            <tr>
                <th rowspan="2">CONTACT:</th>
                <td>{{n.phone}}</td>
              </tr>
              <tr>
                <td>{{n.email}}</td>
              </tr>
        </table>
      </div>
      <div class="controls">
        <!-- The update button  -->
      <button style="background: rgb(0, 255, 119);" routerLink="../update/{{n.id}}">Update</button>
      <!-- The Delete Button -->
      <button style="background: rgb(255, 0, 64);" (click)="onDelete(n.id)"> Delete </button>
      </div>
    </div>

  </div>
</div>
