*{
  transition: 0.3s;
  margin: 0px;
  padding: 0px;
}
.title {
  padding: 10px;
  background: #080C26;
  color: white;
}
.reservation {
  float: left;
  position: absolute;
  right: 0;
  left: 320px;
  bottom: 0;
  top: 164px;
  background: white;
  overflow-x: auto;
}

.reservation .title {
  background: rgb(255, 255, 255);
  color: rgb(7, 19, 32);
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  // width: 100%;
}

input,
select {
  outline: none;
  margin: 0px 20px;
  border: none;
  box-shadow: 0px 0px 5px rgb(226, 226, 226);
  color: rgb(92, 92, 92);
  padding: 10px;
  width: 300px;
  border-radius: 200px;
  background: none;
  letter-spacing: 2px;
}

@media only screen and (max-width: 800px) {
  .tabs {
    float: none;
    clear: both;
    height: auto;
    width: 100%;
    padding: 0;
  }

  .reservation {
    left: 0px;
    bottom: 0;
    top: 620px;
    background: white;
    position: absolute;
    right: 0;
  }
}
.cards{
  width: 96%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.card{
  width: 348px;
  height: 526px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.178);
}
.card .title{
  height: auto;
  justify-content: center;
  text-align: center;
}
.title h1{
  font-weight: normal;
}
.image{
  width: 348px;
}
.image img{
  height: 193px;
  width: 348px;
  object-fit: cover;
}
.details{
  width: 348px;
  padding: 10px 20px;
}
.details p{
  line-height: 30px;
}
.details h2{
  font-size: 30px;
}
.contact{
  width: 348px;
  padding: 10px 10px;
}
.controls{
  background: red;
  position: inherit;
  left: 0;
  right: 0;
}
.controls button{
  width: 50%;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
}
